*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #ffffff;
    color:#333333;
    display: flex;
    align-items: center;
    min-height: 100;
    padding: 20px;
}

.container{
    background-color: #FFFFFF;
    width:100%;
    padding: 600px;
    border: radius 12px; ;
    box-shadow: 0 10px 25px rgba(45, 11, 67, 0.08);
    border:1px solid #eae5df; 
}

.header{
    text-align:center;
    margin-bottom: 25px;
    border-bottom: 2px solid #f3effe;
    padding-bottom:15px ;
}

h1{
    color: #2d0b43;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h1 span{
    color: #5c3d75;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 15px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

nav a{
    color: #5c3d75;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: #f3effe;
    color: #9d4edd;
}